ul {
    list-style-type: none;
    margin: 0;
    width: 400px;
}

li {
    height: 58px;
    background-color: azure;
    border: 1px solid blue;
    margin: 8px 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}